<form [formGroup]="registerForm" (ngSubmit)="onSubmit()"> 
    <!--registration form start -->
    <h3 style="text-align: center; color: black;"><b> Register </b></h3>
    <div class="jumbotron"style="text-align:center" >
    <table class="table table-dark center " style="text-align:center" >
        <tr>
            <td>Company Name</td>
            <td> <input type="text" formControlName="cname" placeholder="enter name"></td>
        </tr>
        <tr>
            <td>Company Email</td>
            <td> <input type="text" formControlName="cemail" placeholder="enter email"></td>
        </tr>
        <tr>
            <td>Company Mobile</td>
            <td> <input type="text" formControlName="cmobile" placeholder="enter mbole no"></td>
        </tr>
        <tr>
            <td>Company Location</td>
            <td> <input type="text" formControlName="clocation" placeholder="enter Designation"></td>
        
        
        </tr>

        
        <tr>
            <td>Company Username</td>
            <td> <input type="text" formControlName="cusername" placeholder="enter username"></td>
        </tr>
        <tr>
            <td>Company password</td>
            <td><input type="password" formControlName="cpassword" placeholder="enter password"></td>
        </tr>
    </table>
    <button class="btn btn-primary" type="submit">Register</button>&nbsp;&nbsp;
    <button class="btn btn-primary" type="submit" (click)="goBack()"> back </button>
    <!-- <button class="btn btn-primary" type="submit" routerLink="/login"> back </button> -->
</div>
</form>

<div class="bg-success">{{isCompanyCreated}}</div>
